

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 80px;
    padding-bottom: 20px;
}

.navbar-mpaciv{
	background: #006194;
}

#titleSite{
	color: white;
}

div.navbar-mpaciv{
	z-index:0;
}

#feedback a{ 
	display:block; 
	position:fixed;
	top:250px;
	right:-1px;
	cursor:pointer;
	width:60px;
	height:80px;
	background:#f16529;
	font-size: 40px;
	color: white;
	text-align: center;
	line-height: 90px
}

#feedback a:hover{
	background:#fbb450;
}

div.overlay {
	z-index:9999;
}

.iconTabla {
	background:none;
	border:none;
}













